{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAN's resume</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <h3>Resume</h3>
            <ul class="novigation">
                <!-- <h3>Resume</h3> -->
                <li class="novigation-item">
                    <a class="menu" href="#">Special abilities</a>
                </li>
                <li class="novigation-item">
                    <a class="menu" href="#">My Achievments</a>
                </li>
                <li class="novigation-item">
                    <a class="menu" href="#">About my Family</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <section class="hero">
            <div class="wrapper">
                <div class="wrapper_left">
                    <img src="./images/Без имени.jpeg" alt="">
                    <h1>Arzymat Karypbaev</h1>
                    <div class="main-info">
                      <h3>Birth Date: 19th of September 2006</h3>
                      <h3>Future Profession: IT-programmer</h3>
                      <h3>Education: General middle education</h3>
                      <h3> Place of current Education:BKAMC</h3>
                      <h3>Bishkek, Kyrgyzstan</h3>
                      <h3>2nd of March 2024</h3>
                    </div>
                </div>
                <div class="wrapper_right">
                    <img src="./images/Coding.jpeg" alt="Header-img">
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <section class="About-Myself">
            <h2>About Myself</h2>
            <img src="./images/Astronaut.jpeg">
            <h3>Ladies and gentlemen have a nice day. Let me talk little-bit about myself.
                 I'm Arzymat and I'm 17 years old. I am a student. 
                 Almost three years ago I decided that I wanna be an IT-programmer and still I fellow to goal. 
                 I know that my choice was one of the most important in my life and believe that it was right choice. 
                 I wanna say thank you to all of our mentors for their hard work and efforts. I wanna be honor of my 
                 college and my groupmates and of course for my family. I believe that I can.  
            </h3>
        </section>
    </div>
    <div class="container">
        <section class="hobbies">
            <h2> My Hobbies</h2>
            <div class="main-part">
                <div class="part_1">
                    <img class="hobbies_image" src="./images/code.jpg" alt="">
                    <h5 class="hobbies_title">Programming for me it's the part of my life and part of my future of
                         course I'm traying to spend for it at least two or five hours 
                         in a day and improve my coding skills. Now I am doing my resume for task "Hackaton" and I know that I can 
                        do it better than whenever</h5>
                     </div>
                <div class="part_2">
                    <img class="hobbies_image" src="./images/books.png" alt="">
                    <h5 class="hobbies_title">When I was 13 I really liked TV-show "Sherlock Holmes" wneb I've seen it I bought 
                        my first book. Since that moment I feel this spirit and vibe when I read. I read a lot of kinds of books 
                        but more I prefer self-devolepment books
                    </h5>
                </div>
                <div class="part_3">
                    <img class="hobbies_image" src="./images/Music.png" alt="">
                    <h5 class="hobbies_title">I think it's hard ti find a person who don't like music. As a billions of people I love
                        it too. Especially classic music, they are so unusaually and they have calming effect to our mind. I prefer genius
                        like: Chopen, Bethoven, Mozart, Bach and Chaikovsky
                    </h5>
                </div>
                <div class="part_4">
                    <img class="hobbies_image" src="./images/soccer-player.png" alt="">
                    <h5 class="hobbies_title">Soccer allways was part of my life and take special place in my mind.
                        When I was a schoolboy I have a drean be a soccer-player but unfortunayely it stay a dream until.
                        I am a soccer fan. My support always belong to Madrid's club. Hala Madrid!
                    </h5>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <section class="Contact">
            <div class="trapper">
                <button class="active-btn">Contact with Me</button>
                <img class="ring" style="width: 50px;" src="./images/message_ui_user_interface_communications_conversation_phone_call_telephone_icon_210842.svg" alt="">             
                <div class="social">
                  <img style="width: 50px;" src="./images/whatsapp_icon-icons.com_53606.svg" alt="">
                  <img style="width: 50px;" src="./images/facebook_icon-icons.com_59205.svg" alt="">
                  <img style="width: 50px;" src="./images/telegram_logo_icon_147228.svg" alt="">
                </div>
            </div>
        </section>
    </div>
</html>